<div class="flex pt-5 justify-center">
  <div class="flex-auto my-2 w-72">
    <p class="text-2xl font-semibold">About</p>
    <p>Text</p>
  </div>
</div>

<div class="mt-5">
  <div class="grid grid-cols-3 md:grid-cols-3 gap-4">
    <div class="me-2 p-3 rounded-md bg-slate-300 hover:transform hover:scale-105 hover:bg-slate-400 transition duration-300 ease-in-out">
      <p class="text-lg text-center mb-3 font-semibold">Back-End</p>
      <ul>
        <li>Ruby</li>
        <li>JavaScript</li>
        <li>Hosting</li>
        <li>Cloud</li>
        <li>A.I. Implementation</li>
      </ul>
    </div>
    <div class="me-2 p-3 rounded-md bg-slate-300 hover:transform hover:scale-105 transition duration-300 ease-in-out">
      <p class="text-lg text-center mb-3 font-semibold">Front-End</p>
      <ul>
        <li>Tailwind</li>
        <li>SCSS</li>
        <li>Hosting</li>
        <li>Cloud</li>
        <li>A.I. Implementation</li>
      </ul>
    </div>
    <div class="ms-2 p-3 rounded-md bg-slate-300 hover:transform hover:scale-105 transition duration-300 ease-in-out">
      <p class="text-lg text-center mb-3 font-semibold">Front-End</p>
      <ul>
        <li>Tailwind</li>
        <li>SCSS</li>
        <li>Hosting</li>
        <li>Cloud</li>
        <li>A.I. Implementation</li>
      </ul>
    </div>
    <div class="ms-2 p-3 rounded-md bg-slate-300 hover:transform hover:scale-105 transition duration-300 ease-in-out">
      <p class="text-lg text-center mb-3 font-semibold">Front-End</p>
      <ul>
        <li>Tailwind</li>
        <li>SCSS</li>
        <li>Hosting</li>
        <li>Cloud</li>
        <li>A.I. Implementation</li>
      </ul>
    </div>
        <div class="ms-2 p-3 rounded-md bg-slate-300 hover:transform hover:scale-105 transition duration-300 ease-in-out">
      <p class="text-lg text-center mb-3 font-semibold">Front-End</p>
      <ul>
        <li>Tailwind</li>
        <li>SCSS</li>
        <li>Hosting</li>
        <li>Cloud</li>
        <li>A.I. Implementation</li>
      </ul>
    </div>
    <div class="ms-2 p-3 rounded-md bg-slate-300 hover:transform hover:scale-105 transition duration-300 ease-in-out">
      <p class="text-lg text-center mb-3 font-semibold">Front-End</p>
      <ul>
        <li>Tailwind</li>
        <li>SCSS</li>
        <li>Hosting</li>
        <li>Cloud</li>
        <li>A.I. Implementation</li>
      </ul>
    </div>
  </div>
</div>
