<div class="flex mt-5 justify-center">
  <div class="flex-auto my-2 w-72 bg-slate-200">
    <p class="text-center text-2xl font-semibold">About</p>
    <p>Text</p>
  </div>
</div>

<div class="mt-5">
    <div class="grid grid-rows-2 grid-flow-col gap-4">
      <div class="me-2 p-3 rounded-md bg-slate-300">
        <p class="text-lg">Back-End</p>
        <ul>
          <li>• Ruby</li>
          <li>• JavaScript</li>
          <li>• Hosting</li>
          <li>• Cloud</li>
          <li>• A.I. Implementation</li>
        </ul>
      </div>
      <div class="me-2 p-3 rounded-md bg-slate-300">
        <p class="text-lg">Front-End</p>
        <ul>
          <li>• Tailswind</li>
          <li>• SCSS</li>
          <li>• Hosting</li>
          <li>• Cloud</li>
          <li>• A.I. Implementation</li>
        </ul>
      </div>
      <div class="ms-2 p-3 rounded-md bg-slate-300">
        <p class="text-lg">Front-End</p>
        <ul>
          <li>• Tailswind</li>
          <li>• SCSS</li>
          <li>• Hosting</li>
          <li>• Cloud</li>
          <li>• A.I. Implementation</li>
        </ul>
      </div>
      <div class="ms-2 p-3 rounded-md bg-slate-300">
        <p class="text-lg">Front-End</p>
        <ul>
          <li>• Tailswind</li>
          <li>• SCSS</li>
          <li>• Hosting</li>
          <li>• Cloud</li>
          <li>• A.I. Implementation</li>
        </ul>
    </div>
  </div>
</div>
