<div class="flex pt-5 mb-5 justify-center">
  <div class="flex-auto mt-10 mb-3 w-72">
    <p class="text-4xl font-medium text-stone-800">About</p>
    <p class="font-light text-stone-700">Text</p>
  </div>
</div>

<div class="mt-5">
  <div class="grid grid-cols-3 md:grid-cols-3 gap-4">
    <div class="p-3 rounded-md hover:transform hover:scale-105 transition duration-300 ease-in-out relative">
      <div class="absolute bg-stone-800 bg-opacity-20 inset-0 backdrop-filter backdrop-blur-lg transition duration-300 ease-in-out rounded-md"></div>
      <div class="relative z-10">
        <p class="text-xl text-center mb-3 font-semibold text-stone-100">Back-End</p>
        <ul class="text-stone-100">
          <li>Ruby</li>
          <li>JavaScript</li>
          <li>Hosting</li>
          <li>Cloud</li>
          <li>A.I. Implementation</li>
        </ul>
      </div>
    </div>
    <div class="p-3 rounded-md hover:transform hover:scale-105 transition duration-300 ease-in-out relative">
      <div class="absolute bg-stone-800 bg-opacity-20 inset-0 backdrop-filter backdrop-blur-lg transition duration-300 ease-in-out rounded-md"></div>
      <div class="relative z-10">
        <p class="text-xl text-center mb-3 font-semibold text-stone-100">Front-End</p>
        <ul class="text-stone-100">
          <li>Ruby</li>
          <li>JavaScript</li>
          <li>Hosting</li>
          <li>Cloud</li>
          <li>A.I. Implementation</li>
        </ul>
      </div>
    </div>
    <div class="p-3 rounded-md hover:transform hover:scale-105 transition duration-300 ease-in-out relative">
      <div class="absolute bg-stone-800 bg-opacity-20 inset-0 backdrop-filter backdrop-blur-lg transition duration-300 ease-in-out rounded-md"></div>
      <div class="relative z-10">
        <p class="text-xl text-center mb-3 font-semibold text-stone-100">Product Management</p>
        <ul class="text-stone-100">
          <li>Ruby</li>
          <li>JavaScript</li>
          <li>Hosting</li>
          <li>Cloud</li>
          <li>A.I. Implementation</li>
        </ul>
      </div>
    </div>
    <div class="p-3 rounded-md hover:transform hover:scale-105 transition duration-300 ease-in-out relative">
      <div class="absolute bg-stone-800 bg-opacity-20 inset-0 backdrop-filter backdrop-blur-lg transition duration-300 ease-in-out rounded-md"></div>
      <div class="relative z-10">
        <p class="text-xl text-center mb-3 font-semibold text-stone-100">Digitalisation Consulting</p>
        <ul class="text-stone-100">
          <li>Ruby</li>
          <li>JavaScript</li>
          <li>Hosting</li>
          <li>Cloud</li>
          <li>A.I. Implementation</li>
        </ul>
      </div>
    </div>
    <div class="p-3 rounded-md hover:transform hover:scale-105 transition duration-300 ease-in-out relative">
      <div class="absolute bg-stone-800 bg-opacity-20 inset-0 backdrop-filter backdrop-blur-lg transition duration-300 ease-in-out rounded-md"></div>
      <div class="relative z-10">
        <p class="text-xl text-center mb-3 font-semibold text-stone-100">Website Design</p>
        <ul class="text-stone-100">
          <li>Ruby</li>
          <li>JavaScript</li>
          <li>Hosting</li>
          <li>Cloud</li>
          <li>A.I. Implementation</li>
        </ul>
      </div>
    </div>
    <div class="p-3 rounded-md hover:transform hover:scale-105 transition duration-300 ease-in-out relative">
      <div class="absolute bg-stone-800 bg-opacity-20 inset-0 backdrop-filter backdrop-blur-lg transition duration-300 ease-in-out rounded-md"></div>
      <div class="relative z-10">
        <p class="text-xl text-center mb-3 font-semibold text-stone-100">Solution Engineering</p>
        <ul class="text-stone-100">
          <li>Ruby</li>
          <li>JavaScript</li>
          <li>Hosting</li>
          <li>Cloud</li>
          <li>A.I. Implementation</li>
        </ul>
      </div>
    </div>
  </div>
</div>
