<div class="row banner">
  <div class="align-self-center">
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-column p-4 justify-content-between ms-5">
        <div>
          <h1 class="title-main">Markus-Christopher Nowak</h1>
          <h3> Product Manager | Full-Stack Web Developer</h3>
        </div>
        <p>Description</p>
        <div class="d-flex flex-row justify-content-center">
          <a href="#" class="btn btn-lg btn-success text-light d-inline-block me-5">Projects</a>
          <a href="https://www.linkedin.com/in/markus-christopher-nowak/" class="btn btn-lg btn-success text-light d-inline-block ms-5">LinkedIn</a>
        </div>
      </div>
      <div class="p-4">
        <%= image_tag 'LinkedInPP.jpeg', alt: "profile photo", class: 'avatar-square' %>
      </div>
    </div>
  </div>
</div>

<%# <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100"> %>
