  <div class="row banner p-16" style="background-image: url(https://images.unsplash.com/photo-1623150502742-6a849aa94be4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80); background-size: cover; background-position: center;">
    <div class="align-self-center">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column p-4 justify-content-between">
          <div>
            <p class="text-4xl font-bold text-stone-800">Markus-Christopher Nowak</p>
            <p class="text-xl font-semibold text-stone-700"> Product Manager | Full-Stack Web Developer</p>
          </div>
          <div class="relative">
            <div class="absolute inset-0 backdrop-filter backdrop-blur-lg bg-opacity-10 bg-slate-700 rounded-lg"></div>
            <div class="relative z-10 p-4">
              <p class="text-stone-100 w-80">Web Developer and Product Manager. I help from conceptualizing your problem to developing the solution. I can help you build an online presence through websites all the way to full web apps.</p>
            </div>
          </div>

        <div class="d-flex flex-row justify-content-center">
          <a href="#projects" class="w-50 h-10 p-2 me-5 text-center text-stone-800 rounded-lg font-bold bg-slate-200 hover:bg-stone-900 hover:text-stone-100 transition duration-300 ease-in-out drop-shadow">Projects</a>
          <a href="https://www.linkedin.com/in/markus-christopher-nowak/" class="w-50 h-10 p-2 text-center text-stone-800 rounded-lg font-bold bg-slate-200 hover:bg-stone-900 hover:text-stone-100 transition duration-300 ease-in-out drop-shadow">LinkedIn</a>
        </div>
        </div>
        <div class="p-4">
          <%= image_tag 'profile.png', alt: "profile photo", class: 'w-80 h-80 rounded-lg drop-shadow' %>
        </div>
      </div>
    </div>
  </div>
