<div class="row banner mb-5">
  <div class="align-self-center">
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-column p-4 justify-content-between">
        <div>
          <p class="text-3xl font-strong">Markus-Christopher Nowak</p>
          <p class="text-xl font-medium"> Product Manager | Full-Stack Web Developer</p>
        </div>
        <p>Description</p>
        <div class="d-flex flex-row justify-content-center">
          <a href="#" class="w-50 h-10 p-2 me-5 text-center text-white rounded-lg font-medium bg-cyan-700 drop-shadow">Projects</a>
          <a href="https://www.linkedin.com/in/markus-christopher-nowak/" class="w-50 h-10 p-2 text-center text-white rounded-lg font-medium bg-cyan-700 drop-shadow">LinkedIn</a>
        </div>
      </div>
      <div class="p-4">
        <%= image_tag 'LinkedInPP.jpeg', alt: "profile photo", class: 'w-80 h-80 rounded-lg drop-shadow' %>
      </div>
    </div>
  </div>
</div>

<%# <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100"> %>
