<div class="row banner mb-5 p-16 bg-slate-900">
  <div class="align-self-center">
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-column p-4 justify-content-between">
        <div>
          <p class="text-3xl font-medium text-slate-100">Markus-Christopher Nowak</p>
          <p class="text-xl font-semibold text-slate-200"> Product Manager | Full-Stack Web Developer</p>
        </div>
        <p>Description</p>
        <div class="d-flex flex-row justify-content-center">
          <a href="#" class="w-50 h-10 p-2 me-5 text-center text-cyan-900 rounded-lg font-bold bg-slate-200 drop-shadow">Projects</a>
          <a href="https://www.linkedin.com/in/markus-christopher-nowak/" class="w-50 h-10 p-2 text-center text-cyan-900 rounded-lg font-bold bg-slate-200 drop-shadow">LinkedIn</a>
        </div>
      </div>
      <div class="p-4">
        <%= image_tag 'profile.png', alt: "profile photo", class: 'w-80 h-80 rounded-lg drop-shadow' %>
      </div>
    </div>
  </div>
</div>
