<div class="">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- Projects Section -->
  <div class="m-16">
    <%= partial 'partials/projects' %>
    <!-- About Section -->
    <%= partial 'partials/about' %>
    <!-- Social Links Section -->
    <%= partial 'partials/social' %>
  </div>
</div>
