<div>
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- Projects Section -->
  <div class="pb-10 bg-gradient-to-r from-stone-200 from-10% via-slate-500 via-30% to-stone-400 to-90%">
    <div class="mx-16">
      <%= partial 'partials/about' %>
      <!-- Social Links Section -->
      <%= partial 'partials/projects' %>
      <!-- About Section -->
      <%= partial 'partials/social' %>
    </div>
  </div>
</div>
